<header class="nhsuk-header nhsuk-header--white" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container">
    <div class="nhsuk-header__logo nhsuk-header__logo--only">
      Vanilla Header
    </div>
  </div>
</header>
