{% set useBluePageHeader = true %}
{% extends 'layout.njk' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">
          There was an error
          <span class="nhsuk-caption-l nhsuk-caption--bottom">Not sure what happened...</span>
      </h1>
      <h2 class="nhsuk-heading-m">Sorry about this!</h2>
    </div>
  </div>
{% endblock %}
