{% set pageName = 'Accessibility statement' %}
{% extends "layouts/master-layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ pageName }}</h1>

      <h2 class="govuk-heading-m">Every new digital public service must have one <br> - <a href="https://medium.com/valtech-design/accessibility-for-everyone-making-public-service-websites-inclusive-has-become-a-legal-bb491dbb8ebf#e042">It is the law</a>.</h2>

      <p class="govuk-body">
        <img src="{{ assetPath | default('/assets') }}/images/judge-dredd.gif" alt="Flaming fire of rage and desctruction reflecting on Judge Dredd's helmet visor - he is not happy about your service lacking an accessibility statement!"/>
      </p>

      {{ govukDetails({
        summaryText: "Why accessibility is important",
        text: "Efficiently extend robust synergy without equity invested channels. Collaboratively matrix mission-critical convergence before 24/7 bandwidth."
      }) }}

      <p class="govuk-body">To create an accessibility statement for your service, use the GDS <a href="https://www.gov.uk/government/publications/sample-accessibility-statement/sample-accessibility-statement-for-a-fictional-public-sector-website">sample accessibility statement</a>.</p>
    </div>
  </div>
{% endblock %}
