<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]--><!--[if IE 9]><html class="ie9" lang="en"><![endif]--><!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Toolkit 10</title>

		<link rel="stylesheet" href="assets/css/main.css">

    <link rel="shortcut icon" href="assets/favicons/favicon.ico" type="image/x-icon">
	</head>
	<body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>  

    <div class="nhsuk-width-container">
      <main class="nhsuk-main-wrapper " id="maincontent" role="main">
      {% block content %}{% endblock %}
      </main>
    </div>

    {% include 'partials/footer.njk' %}

    <script type="text/javascript" src="assets/js/main.js"></script>
	</body>
</html>
