<!--[if lte IE 8]><link href="{{ assetPath | default('/assets') }}/css/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="{{ assetPath | default('/assets') }}/css/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->
